<div class="wrapper">
  <header class="main-head">
    <h1 class="logo">{{ title }}</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Apply For Funding</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <div class="mission">
    <p>
      Climate disasters continue to cause devastating loss of lives, population
      displacement, and astronomical economical damages to communities around
      the world. Are you a member of a non-profit that is struggling to provide
      care and support to members of its community? The {{ title }} is here to
      help. Find out <a href="#">how</a>
    </p>
  </div>

  <main class="content">
    <div class="card get-funding">
      <img
        class="card-img-top"
        src="../assets/images/seeking-shelter.png"
        alt="funding"
      />
      <div class="card-body">
        <h5 class="card-title">Apply for funding</h5>
        <p class="card-text">
          Representatives of non-profits can apply for funding by registering
          the non-profits they represent. All that is required is an existing
          user account. If you are yet to register for an account you can
          register
          <a href="#">here</a>. Note that every non-profit can be registered
          only once. Find out more about the registration process
          <a href="#">here</a>.
        </p>
      </div>
    </div>

    <div class="card donations">
      <img
        class="card-img-top"
        src="../assets/images/donate.jpg"
        alt="donations"
      />
      <div class="card-body">
        <h5 class="card-title">Make a donation</h5>
        <p class="card-text">
          Donations make our mission possible. All proceeds go to the
          non-profits that apply for funding through our website. We welcome and
          encourage everyone to consider donating to our cause. The contribution
          you make will help save lives and relocate individuals who have been
          impacted by climate disasters. Find out more about how you can get
          involved
          <a href="#">here</a>.
        </p>
      </div>
    </div>

    <div class="card resources">
      <img
        class="card-img-top"
        src="../assets/images/united-nations.png"
        alt="donations"
      />
      <div class="card-body">
        <h5 class="card-title">Resources</h5>
        <p class="card-text">
          We provide a list of humanitarian aid organizations that you can
          contact for further assistance. Climate response is a huge
          responsibility and we need all the help we can get, so we have
          partnered with various organizations from around the world. Feel free
          to go through this list of our partner organizations
          <a href="#">here</a>.
        </p>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p class="subheading">Subscribe below if you would like to receive updates on upcoming events and climate news</p>
    <div class="subscribe">
      <input type="email" id="user-email" name="email" placeholder="Email">
      <button type="button" class="btn btn-primary btn-lg">Subscribe</button>
    </div>
    <p class="subheading">Contact Us</p>
    <p>admin@gdf.org</p>
    <p>+1 727-601-2820</p>
    <div class="copyright">
      <p>Copyright &copy; {{ currentYear }}, {{ title }}.</p>
    </div>
  </footer>
</div>
